$size: 40px;

#btn-scroll-down {
  position: fixed;
  bottom: 185px;
  left: calc(50% - (#{$size} / 2));

  display: inline-block;
  width: $size;
  height: $size;
  color: $white;
  background: $blue;
  text-align: center;
  font-size: 1.4rem;
  border: solid 2px #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
