@import '~assets/scss/modules/variables';
$size: 40px;

#btn-scroll-down {
  position: fixed;
  bottom: 185px;
  left: calc(50% - (#{$size} / 2));

  display: inline-block;
  width: $size;
  height: $size;
  color: $white;
  background: $blue;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 50%;
  transition: bottom 0.15s ease-in-out;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
