@import '~assets/scss/modules/variables.scss';

#user-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  background: #fff;
  border-left: solid 1px $gray;
  transition: right 0.3s ease-out;
  z-index: 1;

  &.opened {
    right: 0;
  }

  header {
    position: relative;
    flex-basis: 8%;
    padding: 0 10px;
    border-bottom: solid 1px #efefef;

    display: flex;
    align-items: center;
  }

  ul {
    flex-basis: 92%;
    padding: 15px;
    list-style: none;
    overflow: auto;

    li {
      margin-bottom: 15px;
      display: flex;

      &:hover {
        background: $gray;
      }
    }

    .profile {
      flex-basis: 15%;
      display: inline-flex;
      margin-right: 10px;
      vertical-align: top;
      overflow: hidden;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }

    .name {
      display: block;
      flex-basis: 85%;
    }
  }
}
