@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR');

$bg-color: #3068cc;
// $bg-color: linear-gradient(130deg, #3068cc, #f00);

html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: $font-size-default;
  font-family: 'Noto Sans KR', 'Noto Sans', 'Malgun Gothic', sans-serif;
  color: $black;
  background: $black;
}

.button-wrap {
  text-align: center;
}

#codejs {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-color; // #6A92DA
  overflow: hidden;
}

.iphone {
  position: relative;
  z-index: 2;
}
