.input {
  padding: 4px 11px;
  height: 32px;
  line-height: 1;
  border-radius: 4px;
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.3);

  &.error {
    border-width: 2px;
    border-color: $error;
    outline: 0;
    @include animation-shake;
  }
}
