#header {
  flex-basis: 8%;
  background: #fff;
  border-bottom: solid 1px #efefef;
  display: flex;
  align-items: center;
  padding: 0 10px;

  > div[class*='h-'] {
    width: 100%;
  }

  .h-center {
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
  }

  .h-right {
    text-align: right;
  }

  button {
    padding: 2px 0;
    background: none;
    border: 0;
    min-width: 30px;
    min-height: 30px;

    i {
      vertical-align: middle;
    }

    .active,
    &:hover {
      color: $blue;
    }
  }
}
