.popover {
  position: absolute;
  bottom: 20px;
  left: 10px;
  padding: 10px 20px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  // arrow
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: -18px;
    left: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    width: 0;
    height: 0;
    filter: drop-shadow(0 -2px 1px rgba(0, 0, 0, 0.2));
  }
}
