#page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease-out;
  }

  &.overlay::after {
    z-index: 1;
    opacity: 1;
  }
}

#page-container[data-page='home'] {
  #content {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    form {
      width: 100%;
    }
  }
}

#page-container[data-page='room'] {
  #btn-exit {
    .material-icons {
      font-size: 30px;
    }
  }

  #btn-people {
    position: relative;
    z-index: 3;

    .count {
      display: inline-block;
      margin-right: 4px;
      font-size: 1.2rem;
      vertical-align: middle;
    }
  }
}
