@import '~assets/scss/modules/variables.scss';
$size: 100px;
$color: $gold-2;

#profile {
  width: 100%;

  #image-wrap {
    margin-bottom: 16px;

    button {
      position: relative;
      display: inline-block;

      &:hover {
        i {
          opacity: 1;
        }
      }
    }

    .avatar {
      width: $size;
      height: $size;
      border: solid 3px $color;
    }

    i {
      position: absolute;
      bottom: 0;
      right: -10px;
      opacity: 0.2;
    }
  }

  #nickname-wrap {
    margin-bottom: 30px;

    input {
      width: 80%;
      font-size: $font-size-default;
      text-align: center;
    }
  }
}
