#chat {
  display: flex;
  height: 100%;
  flex-direction: column;

  > section {
    &:nth-child(1) {
      overflow: auto;
    }

    &:nth-child(2) {
      border-top: solid 1px #dedede;
    }
  }
}
