@import '~assets/scss/modules/variables.scss';
@import '~assets/scss/modules/mixin.scss';

#messages {
  padding: 10px;

  .chat {
    margin-bottom: 14px;
    display: flex;
    justify-content: flex-start;

    .profile {
      flex-basis: 14%;

      display: inline-block;
      vertical-align: top;
      overflow: hidden;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }

    .body {
      flex-basis: 86%;
      overflow: hidden;
      font-size: 1.4rem;

      span {
        display: block;
        margin-bottom: 5px;
        line-height: 1;

        @include ellipsis;
      }

      p {
        display: inline-block;
        padding: 6px 12px;
        max-width: 90%;
        background: $gray;
        border-radius: 10px;
        word-break: break-all;
      }
    }

    &.mine {
      display: flex;
      justify-content: flex-end;

      .profile {
        order: 1;

        display: flex;
        justify-content: flex-end;
      }

      .body {
        order: 0;

        display: flex;
        justify-content: flex-end;

        p {
          background: $blue;
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }

  .system {
    margin-bottom: 8px;

    p {
      text-align: center;
      font-size: 1.2rem;
      color: $gray;
    }
  }
}
